@media (max-width: 767px) {
    .main-div {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 7%;
    }
    .width-res {
        width: 90%;
        color: #2d6064;
        margin-left: 4%;


    }
    .res-width {
        width: 90%;
        margin-bottom: 7%;
        margin-left: 4%;

    }

}

@media (min-width: 768px) {

body {
    background: #ffffff;
    font-family: 'Fira Sans', sans-serif;

}
.main-div {
    height: 615px;
    width: 75%;
    margin: 0 auto;
    font-family: 'Fira Sans', sans-serif;
}
.width-res {
    width: 50%;
}
.res-width {
    width: 25%;
}
p.left-p {
    margin-left: 6%;
    margin-top: 2%;
    background-color: white;
    padding: 2%;
    float: left;

}
img.right-i {
    margin-left: 12%;
    float: right;
}
img.left-i {
    margin-left: 6%;
    margin-top: 3%;
    float:left;
}

p.right-p {
    margin-right: 6%;
    margin-top: 4%;
    background-color: white;
    padding: 2%;

}
p.right-p:hover {
    background-color: #7a9d96b5;
    color: white;
}
p.left-p:hover {
    background-color: #7a9d96b5;
    color: white;
}

.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    border-radius: 5px;
  }
}