body {
    background-color: #B3E5FC
}

.card-1-admin {
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #fff
}

.d-block-admin {
    width: fit-content !important;
    opacity: 0.8;
    // box-shadow: 2px 1px 3px 5px #cecec378; 
    margin-top: 2%;
    margin-bottom: 5%;
}
