.administrationHome{
    margin:10% 0px 0px 9%
}

.admin-home{
    margin: 1%;
}
.admin-home-search-div{
    margin: 0% 0px 0px 9%;
    width: 50%;
    display: inline-block;
}
.admin-home-search{
    display: inline-block;
    width: 42rem;
}

.fa.fa-pencil-square-o{
    color:#dbaa2f;
    font-size: x-large;
    }
    .admin-list{
        list-style: none;
    }


// .card-1-admin {
//     border: none;
//     border-radius: 10px;
//     width: 100%;
//     background-color: #fff
// }

// .d-block-admin {
//     width: fit-content !important;
//     opacity: 0.8;
//     // box-shadow: 2px 1px 3px 5px #cecec378; 
//     margin-top: 2%;
//     margin-bottom: 5%;
// }
