body {
    background-color: #B3E5FC;
    width: 100%;
}

.card-1 {
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #fff
}

.icons i {
    margin-left: 20px
}
.liiii {
    margin-top: 12%;
}


.d-block {
    width: 50% !important;
    opacity: 0.8;
    /* box-shadow: 4px 5px 4px 5px #cecec378; */
    margin-top: 2%;
    margin-bottom: 5%;
}
.d-flex {
    /* display: flex!important; */
}