<<<<<<< HEAD
.F1Div{
    width: 200px;
}
.F2Div{
    width: 140px;
=======
.form-control:focus {
    box-shadow: none;
    border-color: #dbaa2f
>>>>>>> a061d77cad21bb55508ef3de147beb6b880c8349
}
.F3Div{
    height: 140px; background-color: rgb(233, 236, 239);
}
.Span1{
    color: rgb(166, 168, 170);
    font: bold 8pt Arial;
}
