.F1Div{
    width: 200px;
}
.F2Div{
    width: 140px;
}
.F3Div{
    height: 140px;
    background-color: rgb(233, 236, 239);
}
.Span1{
    color: rgb(166, 168, 170);
    font: bold 8pt Arial;
}
.containerdiv{
    margin-top: 8%;
    margin-bottom: 2%;
    align-items: center;
    width: 65%;
    border-radius: 10px;
    background: linear-gradient(145deg, #13303fb5, #13303fc7);
    box-shadow: 20px 20px 60px #13303f73, -20px -20px 2px #13303f94;
    border: none;
}
.imgProfile{
    max-width: 100%;
}
.form1{
    margin-right: 14%;
}
.buttonRelative{
    position:relative;
}
.buttonEP{
    position:absolute;
    margin-top:-10%;
}
.buttonR{
   position: relative;
}
.inputImage{
   opacity: 0%;
   position: absolute;
   z-index: 1;
  };
.cardBorder{
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
}  

.smallCardDiv{
    border-radius: 0.25rem 0rem 0rem 0.25rem;
}