.F1Div{
    width: 200px;
}
.F2Div{
    width: 140px;
}
.F3Div{
    height: 140px; background-color: rgb(233, 236, 239);
}
.Span1{
    color: rgb(166, 168, 170);
    font: bold 8pt Arial;
}
.containerdiv{
    margin-top: 15%;
}
.imgProfile{
    width: 14.5rem;
}
.form1{
    margin-right: 14%;
}