@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body {
    background: #ffffff;
}
  h1 {
    font-size: 2.5rem;
    color: #746c69;
    font-family: 'Fira Sans', sans-serif;

}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-family: 'Fira Sans', sans-serif;
    
}
.nav-link:hover {
    font-size: large;
    transition-duration: 1.5s;
    
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-family: 'Fira Sans', sans-serif;
    
}

.tabBlock
{
    background-color:#57574f;
    border:solid 0px #FFA54F;
    border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
    max-width:200px;
    width:100%;
    overflow:hidden;
    display:block;
    
}

#logo {
    width: 25px;
    margin-left: -6%;
    

}