.carousel {
    position: relative;
    display: block;
}
.carousel-item.active {
    display: block;
    text-align: -webkit-center;
}
.d-block {
    width: 50%!important;
    opacity: 0.8;
    box-shadow: 5px 10px 8px 10px #888888;
    margin-top: 9%;
    margin-bottom: 9%;
}

.adv {
    margin-bottom: 7.5rem;
    font-weight: 500;
    line-height: 1.2;
}